<nav> <div style="   height: 100px;background-color: black; ">

  <div style=" font-weight: bold; color: white; text-align: center; ">Billing System</div>
  
  
  <div style=" padding: 15px;  height: 30px;background-color:royalblue; ">
    <a class="header-btn"style=""routerLink="/home">Home</a>
    <a class="header-btn"  routerLink="/wallet" >Wallet</a>
    <a class="header-btn" routerLink="/help">Help</a>
    <a class="header-btn"routerLink="/logout" >Log out</a>
    <a class="header-btn"routerLink="/login">Log in</a>
    <a class="header-btn"routerLink="/signup">Sign up</a>
  </div>
  
</div>
</nav>