<div class="card body">
    <h3>log in</h3>
    <form action="/check-twitter-user/login" method="POST">
        <label> Enter User Name</label>
        <input type="text" id="userName" name="userName">
        <label> Enter User password</label>
        <input type="password" id="password" name="password">

        <button type="submit" class="w-btn">
             submit</button>
        <button type="reset" class="s-btn">cancel</button>

    </form>
    <div class="registration">
        <a href=""> registration now</a>
    </div>
</div>