<div style="margin-top: 150px; margin-left: 150px;">
    <img src="https://files.framed.axure.cloud/gsc/RLRG5B/88/39/90/8839902dd9b74752a9bf0dea09f7c48b/images/home/u0.png?pageId=95d2ec33-980f-4e76-9ee5-23ecb30836b9" style="width: 150px; margin-left: 50px;"/>
    <img src="https://files.framed.axure.cloud/gsc/RLRG5B/88/39/90/8839902dd9b74752a9bf0dea09f7c48b/images/home/u1.png?pageId=95d2ec33-980f-4e76-9ee5-23ecb30836b9" style="width: 150px;margin-left: 350px;"/>
    <img src="https://files.framed.axure.cloud/gsc/RLRG5B/88/39/90/8839902dd9b74752a9bf0dea09f7c48b/images/home/u2.png?pageId=95d2ec33-980f-4e76-9ee5-23ecb30836b9" style="width: 150px;margin-left: 450px; "/>
  </div>

  
<button class="btn" >Pay Electricity</button>
<button class="btn" >Pay Telephone</button>
<button class="btn" >Pay Water</button>